/*
	Website: Fried Dumpling site
	Author: Cindy Shen
	Created on:  2012-08-28
	Revised on: 
	CSS Version: 2.1

	Related Files: 
	
 */
 
/* Clear default styling fram block level elements */
body, div, h1, h2, h3, h4, h5, h6, h6, p, ul, ol, li, dl, dt, dd, img, form,
fieldset, blockquote{
margin: 0;
padding: 0;
border: 0;
}

body {
	background-color: #1C261B;
	font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
}


/* the styles for the div tags that divide the page into sections */

#page {
    width: 960px;
    margin: 0 auto;
    background-color: white;    
}

/* #header */
#header {
	 margin: 0;
	 height: 330px;
}

	#header h1 a {
	display: block;
	background: url("images/Ancient_Chinese_Food_300_2.jpg") no-repeat;    	
	width: 960px;
	height: 300px;
	text-indent: -9999px;
	}
		
	#header #navbar {
		overflow: hidden;
		border-bottom: 3px solid #774B4D;
		padding: 5px 30px;
		list-style: none;
	}

		#header  #navbar  li {
		float: left;
		}
		
		#header #navbar li a{
			display: block;
			width: 160px;
			margin: 5px 25px;		
			color: #701707;
			font-size: 120%;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			line-height: 100%;
		}	
		
/* #main */

#main {	
    margin: 0;
    padding: 5px;
}

/* #sidebar */

#sidebar {
    float: left;
    width: 180px;
    padding: 15px 0;	
}
	#sidebar h2 {
	    padding: 5px;
		color: #DA983C;
		font-size: 150%;
		font-weight: bold;
		text-decoration: none;
	    
	}
	#sidebar ul {
	    list-style: none;
		text-decoration: none;
	}
	
	#sidebar li {    
	    padding-bottom: 3px;
	}
	
		#sidebar ul li a {
		display: block;
		width: 160px;
		height: 25px;
		margin-bottom: 0px;
		padding: 8px 0 0 8px;
		background-color: #ECD18C;
		color: #4B1A00;
		font-size: 100%;
		font-weight: bold;
		text-decoration: none;
	}


#content {
    float: left;  
    padding: 15px;    
}

	#content h2 {
		    padding: 5px;		   	
			color: #701707;
			font-size: 150%;
			font-weight: bold;
		}
	
	#content .food {
		padding-bottom: 10px;
		width: 550px;
		overflow: hidden;
		color: #701707;		
	}
	
	#content .image, .image a {
		float: left;
		border: 1px solid #774B4D; 
	}	
		
	#content .details {
		overflow: hidden;
		padding-left: 10px;		
	}
		
	#content h4 {
			padding: 10px 0px;			
		   	font-family: Constantina,Georgia,'Nimbus Roman No9 L',serif;	
			color: #DA983C;
			font-size: 110%;
			font-weight: bold;
	}
	
	#content p, label {
			font-size: 100%;
			color: #701707;	
	}

	#contentt form input { 
		margin: 3px 0 5px;
		padding: 5px;
		font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;					
		font-size: 90%;
		color: #DA983C;				
	}
	
.space {
	height: 15px; 
}	

.special {
	color: red;
}
#footer {
    clear: both;
    margin: 10px 0;
    border-top: 2px solid #774B4D;
}
#footer p {
    text-align: center;
    font-size: 80%;
    margin: 5px 0;
}
